<body class="designs">
  <%- include ("partials/header.ejs") %>
  <main>
    <header>
      <h1>Designs</h1>
    </header>
    <section>
      <h2>Your designed t-shirts:</h2>
      <ul>
        <% shirts.forEach((shirt, index) => { %>
        <li>
          <a href="/designs/<%= shirt.key%>">
            <article>
              <h3>Design <%= index + 1%>:</h3>
              <% if (shirt.key.endsWith('m') || shirt.key.endsWith('u')) { %>
              <svg
                id="shirt"
                width="307"
                height="402"
                viewBox="0 0 307 402"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M156.844 401C236.139 398.159 253.004 380.405 253.004 380.405C249.345 307.495 240.426 238.076 248.43 162.622H254.261C283.018 163.568 306 153.449 306 153.449C293.423 83.0831 279.645 41.5385 279.645 41.5385C275.449 32.3141 269.24 30.3102 269.24 30.3102L207.382 1C191.775 11.4749 156.844 10.8239 156.844 10.8239H150.156C150.156 10.8239 115.225 11.4749 99.6176 1L37.7601 31.311C37.7601 31.311 30.746 33.3148 27.3552 41.5385C27.3552 41.5385 13.5773 83.0831 1 153.449C1 153.449 23.9822 163.568 52.7385 162.622H58.5698C66.5164 238.076 57.6551 307.495 53.9963 380.405C53.9963 380.405 70.8613 398.159 150.156 401H156.844Z"
                  fill="<%= shirt.color%>"
                />
                <path
                  d="M117.969 8.39705C117.969 8.39705 107.507 3.84016 111.566 12.9539C111.566 12.9539 120.142 27.8674 142.495 30.4121C142.495 30.4121 108.536 29.4653 99.6178 1.59131L117.969 8.39705Z"
                  fill="black"
                  fill-opacity="0.4"
                />
                <path
                  d="M156.844 401C236.139 398.159 253.004 380.405 253.004 380.405C249.345 307.495 240.426 238.076 248.43 162.622H254.261C283.018 163.568 306 153.449 306 153.449C293.423 83.0831 279.645 41.5385 279.645 41.5385C275.449 32.3141 269.24 30.3102 269.24 30.3102L238.311 16.6559L207.382 1C191.775 11.4749 156.844 10.8239 156.844 10.8239H150.156C150.156 10.8239 115.225 11.4749 99.6176 1L69.16 16.8024L37.7601 31.311C37.7601 31.311 30.746 33.3148 27.3552 41.5385C27.3552 41.5385 13.5773 83.0831 1 153.449C1 153.449 23.9822 163.568 52.7385 162.622H58.5698C66.5164 238.076 57.6551 307.495 53.9963 380.405C53.9963 380.405 70.8613 398.159 150.156 401H156.844Z"
                  stroke="black"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M38.2292 31.3135C38.2292 31.3135 51.538 52.9609 58.5698 162.622"
                  stroke="black"
                  stroke-miterlimit="10"
                />
                <path
                  d="M55.1913 366.065C55.1913 366.065 72.8051 384.074 152.099 386.915H154.901C234.195 384.074 252.251 365.565 252.251 365.565"
                  stroke="black"
                  stroke-opacity="0.2"
                  stroke-width="0.75"
                  stroke-miterlimit="10"
                />
                <path
                  d="M3.05841 143.033C3.05841 143.033 28.3274 153.982 57.6554 153.035"
                  stroke="black"
                  stroke-opacity="0.2"
                  stroke-width="0.75"
                  stroke-miterlimit="10"
                />
                <path
                  d="M189.088 8.39705C189.088 8.39705 199.55 3.84016 195.491 12.9539C195.491 12.9539 186.916 27.8674 164.562 30.4121C164.562 30.4121 198.521 29.4653 207.44 1.59131L189.088 8.39705Z"
                  fill="black"
                  fill-opacity="0.4"
                />
                <path
                  d="M260.233 119.88C260.233 119.88 251.954 123.82 250.754 132.401M296.028 104.744C298.023 115.377 296.028 121.882 294.157 126.885"
                  stroke="black"
                  stroke-width="0.75"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                />
                <path
                  d="M269.213 30.3125C269.213 30.3125 255.462 52.9607 248.43 162.622"
                  stroke="black"
                  stroke-miterlimit="10"
                />
                <path
                  d="M304.134 142.772C304.134 142.772 278.044 154.1 249.288 153.153"
                  stroke="black"
                  stroke-opacity="0.2"
                  stroke-width="0.75"
                  stroke-miterlimit="10"
                />
                <path
                  d="M99.6178 1C110.937 41.4202 196.063 41.4202 207.383 1"
                  stroke="black"
                  stroke-miterlimit="10"
                />
                <path
                  d="M171.182 357.809C152.723 354.556 125.035 337.293 109.071 327.036C142.745 345.049 179.164 358.059 198.122 361.061C193.382 363.313 185.955 360.412 171.182 357.809Z"
                  fill="black"
                  fill-opacity="0.1"
                />
                <path
                  d="M250.13 139.395C251.533 144.336 253.747 145.118 273.578 146.462C267.809 145.774 256.46 143.241 250.13 139.395Z"
                  fill="black"
                  fill-opacity="0.1"
                />
                <path
                  d="M260.233 119.88C251.876 124.133 250.879 131.305 250.38 134.391V137.518C250.38 135.016 256.616 123.883 260.233 119.88Z"
                  fill="black"
                  fill-opacity="0.1"
                />
                <path
                  d="M15.53 84.4784C17.8582 79.3078 23.2128 68.4663 26.0066 66.4648"
                  stroke="black"
                  stroke-width="0.75"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M61.6768 263.988C61.76 264.544 61.8464 265.116 61.9357 265.704C64.007 274.35 77.885 301.831 80.8838 308.772C83.478 314.776 84.1265 317.403 83.9602 317.904L88.1176 328.412C85.7479 328.412 80.7341 320.906 78.1399 317.904C74.8972 314.151 72.5275 307.021 69.0353 299.265C66.3814 293.371 63.63 276.851 61.9357 265.704C61.7671 265 61.6768 264.421 61.6768 263.988Z"
                  fill="black"
                  fill-opacity="0.1"
                />
                <path
                  d="M245.516 247.476C245.848 265.323 242.971 305.97 228.803 325.785"
                  stroke="black"
                  stroke-width="0.75"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M37.855 148.276C55.0665 147.256 55.1497 144.514 57.0621 141.771V147.256C55.4823 147.796 49.953 149.402 37.855 148.276Z"
                  fill="black"
                  fill-opacity="0.1"
                />
                <path
                  d="M55.6902 131.889C55.1572 126.818 41.9651 112.346 35.4357 105.744L37.4345 114.459C43.7418 122.338 45.4297 119.477 55.6902 131.889Z"
                  fill="black"
                  fill-opacity="0.1"
                />
                <path
                  d="M35.7348 105.995C39.3101 109.831 46.8599 117.979 48.4563 119.88C50.4519 122.257 55.5654 128.762 56.0643 131.889"
                  stroke="black"
                  stroke-width="0.75"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M61.4273 264.989C65.0858 273.829 73.0014 292.71 75.3961 297.514C78.3894 303.518 83.8771 315.277 83.6277 316.778"
                  stroke="black"
                  stroke-width="0.75"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <% } else if (shirt.key.endsWith('w')) { %>
              <svg
                width="307"
                height="352"
                viewBox="0 0 307 404"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M71.7068 14.9974L95.3583 1C95.3583 1 109.43 11.4981 142.215 11.4981C175 11.4981 192.195 1 192.195 1L247.531 30.4946L257.795 41.4926L283.379 144L285.5 152.5L265 161.5L238.5 165L237.5 157.5L236 142V140C236 140 220.244 199.658 219.5 237.457C219.114 257.086 221.547 282.71 229.98 307C239.244 333.684 250.262 358.758 255.194 372.5C256.95 377.392 258.055 379.5 257.795 382.43C257.535 385.361 198.889 404.426 145.785 402.927C92.6808 401.427 35.114 391.5 33.329 382.43C33.0885 381.208 33.6095 377.684 34.6911 372.5C37.6059 358.529 44.5927 332.503 51.7206 307C61.5787 271.729 64.5 272.5 67 237.457C69.5 202.414 56.5 140 56.5 140C55.1311 142.738 55.257 146.732 51.7206 157.5C50.0902 162.465 49.5 165 49.5 165L20.5 160.5C20.5 160.5 4.29597 153.329 1 152L3.28073 143.5L30.6515 41.4926L33.329 36.4935L37.3453 33.4941L49.8404 26.9953L71.7068 14.9974Z"
                  fill="<%= shirt.color%>"
                />
                <path
                  d="M95.3583 1L71.7068 14.9974L49.8404 26.9953M95.3583 1C95.3583 1 109.43 11.4981 142.215 11.4981C175 11.4981 192.195 1 192.195 1M95.3583 1C95.3583 1 123 66 142.215 66C162 66 192.195 1 192.195 1M49.8404 26.9953L37.3453 33.4941L33.329 36.4935L30.6515 41.4926L3.28073 143.5M49.8404 26.9953L56.5 140M56.5 140C56.5 140 69.5 202.414 67 237.457C64.5 272.5 61.5787 271.729 51.7206 307M56.5 140C55.1311 142.738 55.257 146.732 51.7206 157.5M236 140C236 140 220.244 199.658 219.5 237.457C219.114 257.086 221.547 282.71 229.98 307M236 140L247.531 30.4946M236 140V142L237.5 157.5M247.531 30.4946L257.795 41.4926L283.379 144M247.531 30.4946L192.195 1M51.7206 307C51.7206 307 56.5 340 71.7068 351.5M51.7206 307C44.5927 332.503 37.606 358.529 34.6911 372.5M229.98 307C229.98 307 229.98 339 214.954 351.5M229.98 307C239.244 333.684 250.262 358.757 255.194 372.5M3.28073 143.5L1 152C4.29597 153.329 20.5 160.5 20.5 160.5L49.5 165C49.5 165 50.0902 162.465 51.7206 157.5M3.28073 143.5L23.5 152L51.7206 157.5M283.379 144L285.5 152.5L265 161.5L238.5 165L237.5 157.5M283.379 144L262 152.5L237.5 157.5M34.6911 372.5C33.6095 377.684 33.0885 381.208 33.329 382.43C35.114 391.5 92.6808 401.427 145.785 402.927C198.889 404.426 257.535 385.361 257.795 382.43C258.055 379.5 256.95 377.392 255.194 372.5M34.6911 372.5C34.6911 372.5 95.07 387.5 145.785 389C196.5 390.5 255.194 372.5 255.194 372.5"
                  stroke="black"
                />
                <path
                  d="M165.111 287.773C146.652 284.521 118.964 267.258 103 257C136.675 275.014 173.093 288.023 192.051 291.026C187.311 293.277 179.885 290.376 165.111 287.773Z"
                  fill="black"
                  fill-opacity="0.1"
                />
                <path
                  d="M114.5 9C114.5 9 98 7.30574 121 47.5C121 47.5 107.5 29 96 2L104.5 6L114.5 9Z"
                  fill="black"
                  fill-opacity="0.4"
                />
                <path
                  d="M175.5 8C175.5 8 186.5 7.5 168.5 42C168.5 42 180.5 25 191.5 2L175.5 8Z"
                  fill="black"
                  fill-opacity="0.4"
                />
                <path
                  d="M235 125C236.403 129.941 238.617 130.723 258.448 132.068C252.679 131.38 241.33 128.847 235 125Z"
                  fill="black"
                  fill-opacity="0.1"
                />
                <path
                  d="M56 124C54.1449 130.292 51.2181 131.288 25 133C32.6263 132.124 47.6316 128.898 56 124Z"
                  fill="black"
                  fill-opacity="0.1"
                />
              </svg>
              <% } %>
              <p><%= shirt.text %></p>
            </article>
          </a>
        </li>
        <% }) %>
        <li>
          <div class="button">
            <a href="/">Design new shirt</a>
          </div>
          <svg
            width="307"
            height="352"
            viewBox="0 0 307 402"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            role="img"
          >
            <title>Illustration of a new design.</title>
            <path
              d="M156.844 401C236.139 398.159 253.004 380.405 253.004 380.405C249.345 307.495 240.426 238.076 248.43 162.622H254.261C283.018 163.568 306 153.449 306 153.449C293.423 83.0831 279.645 41.5385 279.645 41.5385C275.449 32.3141 269.24 30.3102 269.24 30.3102L207.382 1C191.775 11.4749 156.844 10.8239 156.844 10.8239H150.156C150.156 10.8239 115.225 11.4749 99.6176 1L37.7601 31.311C37.7601 31.311 30.746 33.3148 27.3552 41.5385C27.3552 41.5385 13.5773 83.0831 1 153.449C1 153.449 23.9822 163.568 52.7385 162.622H58.5698C66.5164 238.076 57.6551 307.495 53.9963 380.405C53.9963 380.405 70.8613 398.159 150.156 401H156.844Z"
              fill="#FFFFFF"
            />
            <path
              d="M117.969 8.39705C117.969 8.39705 107.507 3.84016 111.566 12.9539C111.566 12.9539 120.142 27.8674 142.495 30.4121C142.495 30.4121 108.536 29.4653 99.6178 1.59131L117.969 8.39705Z"
              fill="black"
              fill-opacity="0.4"
            />
            <path
              d="M156.844 401C236.139 398.159 253.004 380.405 253.004 380.405C249.345 307.495 240.426 238.076 248.43 162.622H254.261C283.018 163.568 306 153.449 306 153.449C293.423 83.0831 279.645 41.5385 279.645 41.5385C275.449 32.3141 269.24 30.3102 269.24 30.3102L238.311 16.6559L207.382 1C191.775 11.4749 156.844 10.8239 156.844 10.8239H150.156C150.156 10.8239 115.225 11.4749 99.6176 1L69.16 16.8024L37.7601 31.311C37.7601 31.311 30.746 33.3148 27.3552 41.5385C27.3552 41.5385 13.5773 83.0831 1 153.449C1 153.449 23.9822 163.568 52.7385 162.622H58.5698C66.5164 238.076 57.6551 307.495 53.9963 380.405C53.9963 380.405 70.8613 398.159 150.156 401H156.844Z"
              stroke="black"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M38.2292 31.3135C38.2292 31.3135 51.538 52.9609 58.5698 162.622"
              stroke="black"
              stroke-miterlimit="10"
            />
            <path
              d="M55.1913 366.065C55.1913 366.065 72.8051 384.074 152.099 386.915H154.901C234.195 384.074 252.251 365.565 252.251 365.565"
              stroke="black"
              stroke-opacity="0.2"
              stroke-width="0.75"
              stroke-miterlimit="10"
            />
            <path
              d="M3.05841 143.033C3.05841 143.033 28.3274 153.982 57.6554 153.035"
              stroke="black"
              stroke-opacity="0.2"
              stroke-width="0.75"
              stroke-miterlimit="10"
            />
            <path
              d="M189.088 8.39705C189.088 8.39705 199.55 3.84016 195.491 12.9539C195.491 12.9539 186.916 27.8674 164.562 30.4121C164.562 30.4121 198.521 29.4653 207.44 1.59131L189.088 8.39705Z"
              fill="black"
              fill-opacity="0.4"
            />
            <path
              d="M260.233 119.88C260.233 119.88 251.954 123.82 250.754 132.401M296.028 104.744C298.023 115.377 296.028 121.882 294.157 126.885"
              stroke="black"
              stroke-width="0.75"
              stroke-miterlimit="10"
              stroke-linecap="round"
            />
            <path
              d="M269.213 30.3125C269.213 30.3125 255.462 52.9607 248.43 162.622"
              stroke="black"
              stroke-miterlimit="10"
            />
            <path
              d="M304.134 142.772C304.134 142.772 278.044 154.1 249.288 153.153"
              stroke="black"
              stroke-opacity="0.2"
              stroke-width="0.75"
              stroke-miterlimit="10"
            />
            <path
              d="M99.6178 1C110.937 41.4202 196.063 41.4202 207.383 1"
              stroke="black"
              stroke-miterlimit="10"
            />
            <path
              d="M171.182 357.809C152.723 354.556 125.035 337.293 109.071 327.036C142.745 345.049 179.164 358.059 198.122 361.061C193.382 363.313 185.955 360.412 171.182 357.809Z"
              fill="black"
              fill-opacity="0.1"
            />
            <path
              d="M250.13 139.395C251.533 144.336 253.747 145.118 273.578 146.462C267.809 145.774 256.46 143.241 250.13 139.395Z"
              fill="black"
              fill-opacity="0.1"
            />
            <path
              d="M260.233 119.88C251.876 124.133 250.879 131.305 250.38 134.391V137.518C250.38 135.016 256.616 123.883 260.233 119.88Z"
              fill="black"
              fill-opacity="0.1"
            />
            <path
              d="M15.53 84.4784C17.8582 79.3078 23.2128 68.4663 26.0066 66.4648"
              stroke="black"
              stroke-width="0.75"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M61.6768 263.988C61.76 264.544 61.8464 265.116 61.9357 265.704C64.007 274.35 77.885 301.831 80.8838 308.772C83.478 314.776 84.1265 317.403 83.9602 317.904L88.1176 328.412C85.7479 328.412 80.7341 320.906 78.1399 317.904C74.8972 314.151 72.5275 307.021 69.0353 299.265C66.3814 293.371 63.63 276.851 61.9357 265.704C61.7671 265 61.6768 264.421 61.6768 263.988Z"
              fill="black"
              fill-opacity="0.1"
            />
            <path
              d="M245.516 247.476C245.848 265.323 242.971 305.97 228.803 325.785"
              stroke="black"
              stroke-width="0.75"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M37.855 148.276C55.0665 147.256 55.1497 144.514 57.0621 141.771V147.256C55.4823 147.796 49.953 149.402 37.855 148.276Z"
              fill="black"
              fill-opacity="0.1"
            />
            <path
              d="M55.6902 131.889C55.1572 126.818 41.9651 112.346 35.4357 105.744L37.4345 114.459C43.7418 122.338 45.4297 119.477 55.6902 131.889Z"
              fill="black"
              fill-opacity="0.1"
            />
            <path
              d="M35.7348 105.995C39.3101 109.831 46.8599 117.979 48.4563 119.88C50.4519 122.257 55.5654 128.762 56.0643 131.889"
              stroke="black"
              stroke-width="0.75"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M61.4273 264.989C65.0858 273.829 73.0014 292.71 75.3961 297.514C78.3894 303.518 83.8771 315.277 83.6277 316.778"
              stroke="black"
              stroke-width="0.75"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </li>
      </ul>
    </section>
  </main>
  <%- include ("partials/footer.ejs") %>
</body>
